<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="moe.yukinoneko.diycode">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".module.web.WebActivity"
            android:label=""
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.topic.details.TopicDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.topic.create.CreateTopicActivity"
            android:label="@string/new_topic"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.news.create.CreateNewsActivity"
            android:label="@string/new_news"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.news.details.NewsDetailsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.notification.NotificationsActivity"
            android:label="@string/notification"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.reply.create.CreateReplyActivity"
            android:label="@string/reply"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.user.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"/>

        <activity
            android:name=".module.image.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen"/>

        <activity
            android:name=".module.markdown.MarkdownActivity"
            android:label="@string/topic_preview"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".module.about.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentStatusBar"/>

    </application>

</manifest>